<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <button class="btn-primary" onclick="app.SnacksController.addQuarter()">Add 0.25<span
          id="money">$0.00</span></button>
      <button class="col-6 btn-primary"> Buy Snacks</button>
    </div>
  </div>








  <section id="snack-card" class="row d-flex justify-content-around">



  </section>




</div>










<!-- <section class="container">
  <div class="card bg-primary shadow col-6">
    <img class="img-fluid border rounded snack-card"
      src="https://www.kroger.com/product/images/large/front/0004000042208?banner=harristeeter" alt="">
    <div class="card-body">
      <h3 class="text-center text-light">3 Musketeers</h3>
      <hr />
      <p class="text-light text-end">$1.00</p>
    </div>

  </div>
</section> -->